body {
  font-family:'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
}

div.content {
  margin:0 auto;
  padding:60px 30px;
  max-width:940px;
  min-width:740px;
}

h1, h2 {
  color:navy;
  text-align:center;
  margin-bottom:60px;
}

h1 {
  font-weight:bolder;
}

img.left {
  float:left;
  margin-right:20px;
  margin-bottom:10px;
}

img.right {
  float:right;
  margin-left:20px;
  margin-bottom:10px;
}

div.row {
  display:inline-block;
  clear:both;
  font-size:1.1em;
}

div.row p {
  line-height:1.4em;
}